[2020-11-21 08:40] ViktorSchlaffer opened #1 "Add DD7002B Gateway"
Hi @starkillerOG,

I have a DD7002B bridge, that uses a very similar interface as the one implemented in your code.
If I make a pull request, would you integrate it in your repo, or you prefer me to fork your repo instead, and do my own thing.
(I'd just make an abstract class and put the common parts there, and move your global variables (device types and such) to the constructor of your class)

T

[2020-11-23 13:45] starkillerOG commented on #1
Hi @ViktorSchlaffer

I am always open to pull request.

Do you have a programming manual for the DD7002B bridge?

The commands and structure need to be almost identical to make sense to implement it in this library, otherwise it is probably better to just create a seprate library called someting like "dd7002b-bridge"

If you make a fork I can look how much impact it would have on the general Motio

[2020-11-24 18:44] onkelbeh opened #2 "Question: why are you using pycryptodomex?"
Hi,

may I ask: why are you using pycryptodomex and not pycryptodome?

When I walk through Home Assitants dependency tree, I find 14 packages depending on pycryptodome, and 2 (including you) requiring pycryptodomex. It's a bad thing that both libraries install themselves as pycryptodome. This results in a slot conflict.

I hope you don't mind that I added your integration to [Home Assistant Gentoo

[2020-11-25 10:27] starkillerOG commented on #2
Hi Onkelbeh,

Because I had issues with pycryptodome not installing correctly on my stystem.
At least the `from Cryptodome.Cipher import AES` gave some errors which I had a hard time resolving.
Maybe it was something I was doing wrong.

With pycryptodomex I had no issues what soever, it installed cleanly and `from Cryptodome.Cipher import AES` just worked.

That is why I chose pycryptodomex, but i

[2020-11-25 23:48] onkelbeh commented on #2
Hi,

thanks for your answer. I do not know any of these two libraries.

I just noticed this possible incompatibility some time ago and try to avoid future incompatibilities. Imho these libraries cannot live in the same environment together, so somehow some integrations cannot be installed on the same system.

**But**, I just looked in my site-packages on the Python 3.9 dev box, it seems that now p

[2020-11-25 23:53] onkelbeh commented on #2
Just checked: same on Python 3.8.

[2020-12-07 21:57] starkillerOG commented on #2
Alright, I looked into it some more and found the most relevant info here: https://stackoverflow.com/questions/48155294/what-is-pycryptodomex-and-how-does-it-differ-from-pycryptodome

Indeed you are right that `from Crypto.Cipher import AES` works if you install pycryptodome.
However, pycryptodome installs in Crypto and can therefore cause conflicts with PyCrypto (which I had while trying diffrent

[2020-12-07 21:57] #2 closed

[2020-12-07 22:00] starkillerOG commented on #1
I think it will be better to have a seperate library for the DD7002B bridge, unless someone can point out that this code almost works flauwless with that bridge (only very small adjustments needed).

This library is really focused on Motion Blinds from Coullisse B.V.

[2020-12-07 22:00] #1 closed

[2020-12-14 13:44] aboogerd opened #3 "Home assistant integration"
Hi starkillerOG,

First of all kudos for your work integrating motion blinds to Home Assistant.

Don't know if this is the right place to ask. But when the screen is open/up the slider is 100% and closed/down 0%. Is this correct/normal?

The use of the arrows in HA is working correctly.

Cheers, Alexander

[2020-12-14 14:06] starkillerOG commented on #3
Thanks!

Yes open/up=100% en closed/down=0%, this is standardized in HomeAsisstant and works that way for all covers within HA. (It is also documented in the dev docs)

For the latest improvements see this open PR: https://github.com/home-assistant/core/pull/43656

Feel free to open up another issue if you experience any other problems.

Best regards,
StarkillerOG

[2020-12-14 14:06] #3 closed

[2020-12-31 18:53] tlobinger opened #4 "Nice job - have you tried getting it to work with the remotes as well?"
I have this one https://motion-blinds.com/support/cm-11-hand-remote-1-channel and unable to buy a hub anymore, they seem to be out of stock. I saw the remote as the hubs have 433MHz communication channels and tried to record what they send with https://github.com/milaq/rpi-rf without success. And I did not feel like going down a rabbit hole like this one https://nickwhyte.com/post/2017/reversing-4

[2021-01-01 19:38] starkillerOG commented on #4
@tlobinger I have not tried intersepting the 433MHz signals.
However it will probably be quite some work to get it reliable and get a good communication set up.
I would highly recommand just buying the hub.

Personally I have this hub: https://motion-blinds.com/nl/support/motion-wifi-bridge
But it will probably also work with this hub https://www.hornbach.nl/shop/MOTION-Wi-Fi-Bridge-voor-Soluna-ro

[2021-01-02 15:55] tlobinger commented on #4
Thanks, they stopped selling in Germany. I will try to get one from the Netherlands.

[2021-01-02 15:55] #4 closed

[2021-03-18 12:47] lewisbrown-uk opened #5 "Device Type 02000001 for gateway"
The code is currently using device type 02000002 for the gateway.  The API documentation specifies 02000001.  I have blinds from another manufacturer, Bloc Blinds, and the controller they supply uses this protocol but device type 02000001.  I'm using them with Home Assistant and see the message "DeviceType 02000001 does not correspond to a gateway in parse update function" in the logs when it trie

[2021-03-20 17:45] budachst opened #6 "Return attributes of gateway and blinds as dictionaries"
It would be much easier to make use of the returned attributes, if they could be accessed as dictinaries, instead of a (oddly) formatted string, especially with those brackes at either ends. Also, if you would consider to return the attributes as dictionaries, the battery voltage should be a named entity.

[2021-03-20 17:55] starkillerOG commented on #6
I think what you are refering to is the representation of a blind class, that schould always be a string.
You can acces all attributes/properties of a blind which will give you the python type of that variable like int or double.
I could make an extra propertie that gives you all the properties in one dict if you like, but that is normaly not needed when you can acces all individual properties.

C

[2021-03-20 18:32] budachst commented on #6
Yeah… you're right. I shouldn't be so lazy… ;) I thought to save some code, but I can of course easily create my own objects and update the properties for them. I was only tempted by the output of your examples and though, that those were already dicts.

However, what I still don't get is what is needed to reference a blind. I thought, that only the blinds mac would be needed, but when I look at t

[2021-03-20 18:36] budachst opened #7 "Updating child via child.Update() does not work"
I noticed that I cannot use .Update() but only .Update_from_cache? Is this maybe something between my gateway and my blind? Happens that I also can't seem to pick-up any multicast transmissions from my gateway. Is this maybe specific to a certain version of HW/SW regarding the gateway?

[2021-03-21 11:38] starkillerOG commented on #7
.Update() uses direct communication with the blind and relays on udp multicast. For it to work the device you run .Update() from and the motion_blinds gateway need to be in the same VLAN, furthermore udp multicast needs to be allowed by your router.

.Update_from_cache() takes the status from the gateway and does not need udp mulitcast, it will return the latest states the gateway has in memory (s

[2021-03-21 11:40] starkillerOG commented on #6
To get the dict containing all blinds use:
[code]
The keys are the mac's of the blinds, the values are the blind objects.
If you want to get it as a list use:
[code]

[2021-03-21 11:44] starkillerOG commented on #5
I will add the 02000001 as a gateway type to.

Are there any other diffrences in the API?

[2021-03-21 11:57] starkillerOG commented on #5
version 0.4.10 has just been released that adds the 02000001 as a gateway type

[2021-03-21 11:57] #5 closed

[2021-03-21 13:25] lewisbrown-uk commented on #5
Thanks. I’m not sure about other differences as I haven’t got past not
being able to recognise the gateway yet. I’ll let you know what I find.

On Sun, 21 Mar 2021 at 11:57, starkillerOG ***@***.***> wrote:

[2021-03-21 14:10] budachst commented on #6
Yeah - thanks, that will do it nicely.

[2021-03-21 14:10] #6 closed

[2021-03-21 14:38] budachst commented on #7
The communication is running via the gateway, isn't it? Its not, that the blinds themselves are on the WLAN as well, or are they? When running tcpdump and sniffing the multicast networks, I can see quite a lot of multicast packets, but none from or to the gateway. Besides, probably having a network issue, which I would have to investigate, but I do seem a lot of multicast traffic on my LAN/WLAN -

[2021-03-21 15:40] starkillerOG commented on #7
yes the communication runs through the gateway.
you are correct the blinds are not on your network (they use 433 MHz RF communication).

blind.Update() will get the current status, so for example while you are charging your blind, blind.Update() will give you the actual battery values and you can see the battery charging in time. However blind.Update_from_cache() will continue reporting the old ba

[2021-03-21 15:44] starkillerOG commented on #7
Another example: if the gateway misses the 433MHz push message from a blind at the end of a movement (because of low signal strenght), the gateway will continue to give the incorrect old position value (using the blind.Update_from_cache()), you will not be able to detect that the position is actually wrong using the blind.Update_from_cache(). However using the blind.Update() you will get a fresh s

[2021-03-22 07:55] budachst commented on #7
I see - thanks. I spent quite a good amount of time yesterday to check my network, but I couldn't come up with a possible reason, as of why multicast should not work. I am seeing multicast traffic on my WLAN/LAN - also on the host on which I am running the Python app, but I do never see any multicasts from the motion gateway.

As far as I understood, the gateway will always send a multicast push,

[2021-03-22 10:25] starkillerOG commented on #7
yes you are right, at the end of a movement there schould be a multicast visable on '238.0.0.18'.
Note that I have experianced problems when the gateway was connected through an acces point that is connected to my router on the same VLAN.
So it might help to move the gateway and the device where you are sniffing from both to your main router (not through an acces point or something).

[2021-03-22 10:40] budachst commented on #7
Well, since the gateway is Wifi only, the gateway has to be on it and run through an access point. However, I also have tried to move the gateway to another WLAN (I do have two) and the node sniffing is on the LAN anyway. I really can't imagine, that the gateway would not work on either one of my two APs, but even that cannot be reliably said. Maybe I'll spin up an ad-hoc WLAN on my Mac and hook t

[2021-03-28 11:06] d-EScape commented on #7
I'm using the module in a domoticz plugin and encountered the same problem. The state of the blinds is accurately returned on every Update_from_cache(), but the battery voltage is not, so I am still trying to get .Update() to work. It fails with the same time-out, but the battery_voltage is updated afterwards! So something seems to get trough(?)

The bridge is on WiFi (obviously ;-) and the client

[2021-03-28 13:37] budachst commented on #7
Well, I do get updates for the battery voltage via Update_from_cache(), so I don't have that issue. However, I sniffed my complete network for multucast traffic on 238.0.0.18 but other than my NetstreamSat, which is  s Sat->IP device, nothing seems to happening otherwise on that multicast address.

[2021-03-28 15:37] d-EScape commented on #7
I dit also get a battery value using Update_from_cache() but it was always the same and it changed immediately with Update(). Still got the timed-out error though.

I spend most of the day researching this issue, but i can't figure it out. Using  `tcpdump -ni <interface> igmp` I tried to pin down where the multicast (238.0.0.18) gets lost. On my Asus ac86u (in a mesh setup) I could see the igmp tr

[2021-03-28 16:59] starkillerOG commented on #7
So this means the multicast traffic is just not getting through.

The reason why the battery status is updated:
When issuing a `.Update()` the gateway is instructed to communicate with the blind to get the latest info (that happens over direct udp communication, so that message arrives at the gateway, if that were to fail the error message would be diffrent, so the acknoladgement of this instructi

[2021-03-28 17:10] starkillerOG commented on #7
To go into some more detail:
After issuing the `.Update()` over direct udp communication the gateway acknoladges using direct udp communciation to the client with the status of the blind from cache, this status is processed and does update all values within the python class, but since this is from cache, it is the status obtained at the previous communication with the blind (`.Update()`). So basic

[2021-03-29 06:38] d-EScape commented on #7
"So basically if you keep calling .Update() and just ignore the errors you will get new status of the blind, but each .Update() call will lack behind 1 call, you basically are getting the status of the privious call. "
That makes sense.

The Update() method was probably never intended as a synchronous call. Maybe you could add a async_Update() or trigger_Update() or something like that, that doesn

[2021-03-29 07:09] budachst commented on #7
Ok, after I looked at the pcap using Wireshark, I am wondering, why my node specifically seem to no want to be included in the bridge's multicast traffic:

[code]

Maybe this is the issue I am having.

[2021-03-29 08:46] d-EScape commented on #7
The same might be happening in my setup. What settings did you use to get this output? I am using Tshark on a headless linux machine and am trying to figure out a useful method for capturing this igmp interaction.

I'm getting:
    6	5.027994308	192.168.19.222	→	238.0.0.18  	IGMPv2	48	Membership Report group 238.0.0.18
    7	5.691877593	192.168.19.1	→	224.0.0.1   	IGMPv2	62	Membership Query, gener

[2021-03-29 14:12] d-EScape commented on #7
Found it! At least for my setup.
After disabling IGMP snooping on the 2.4 wireless interface of my Asus router the IGMP packets get through and the .Update() works as expected.

Learned something today. IGMP snooping (which is enabled by default on my router) does not enable IGMP traffic, but "optimizes" it by analyzing it. Not as intelligently as we would like, as it seems ;-)

[2021-03-29 16:07] budachst commented on #7
Would you mind sharing some lines of traffic, so I can see, how it would show up in tcpdump or wireshark? I had scouted my Orbi Wifi mesh nodes for igmp snooping, but could only find igmp proxy, which was not enabled on either one.

[2021-03-29 16:46] d-EScape opened #8 "Question / RFC"
How can a callback tell which blind triggered it when it is not possible to pass an argument to the callback?

If line 813 is changed from
`callback()`
to
`callback(self)`
then the (sending) MotionBlind instance would be available to the callback. But maybe there are better ways?

[2021-03-29 16:56] d-EScape commented on #7
I don't mind at all, but I am not sure if all traffic is related to the .Update() command being run.

   13 24.117106405 192.168.19.222 → 238.0.0.18   IGMPv2 48 Membership Report group 238.0.0.18
   14 27.701099550 192.168.19.222 → 224.0.0.251  IGMPv2 48 Membership Report group 224.0.0.251
   15 29.910929163 192.168.19.1 → 224.1.1.50   IGMPv2 62 Membership Query, specific for group 224.1.1.50
   1

[2021-03-29 17:01] budachst commented on #7
Hmm… that's what I wanted to know myself. ;) I checked the interface of my client and it is actually subscribed to the multicast group 238.0.0.18, as both ip madr and netstat -g show this:

root@fhem:~# ip maddr show
1:	lo
	inet  224.0.0.1
	inet6 ff02::1
	inet6 ff01::1
2:	ens18
	link  33:33:00:00:00:01
	link  01:00:5e:00:00:01
	link  01:00:5e:00:00:fb
	link  33:33:ff:55:c6:00
	link  33:33:00:00:00

[2021-03-31 19:11] starkillerOG commented on #8
Yes you are correct, wrapping the motion blind object in a class is the way to go (at least I intended it that way).
That is also how it is done in HomeAssistant.

[2021-03-31 19:11] #8 closed

[2021-03-31 19:12] starkillerOG commented on #7
Yes I will do that if that is conveniant for you

[2021-03-31 19:15] starkillerOG commented on #7
I will add this to the HomeAssistant documentation as a troubleshooting hint

[2021-04-02 07:04] budachst commented on #7
Great addiditon. I tried to incorporate that function into my little project and it works very well. You'll have to be a bot careful though, since calling blind.Update_trigger() too often, will bog down the radio connection between the blinds and the gateway. Either the gateway has some kind of enforcement on the wireless 433Mhz channel, or the connection to the blinds itself is rather slow and ca

[2021-04-02 07:37] d-EScape commented on #7
I am forcing an update only once a day and even that should be more than enough. The blinds data in the bridge cache is updated on every action (opening/closing the blinds), in which case Update_from_cache will already return the correct values. Forcing updates is only needed if the blinds where not operated for a long time and you still want an actual battery level reading.
Frequently communicati

[2021-04-02 08:55] starkillerOG commented on #7
yes you are right that it may drain the battery of the blind a bit faster, although I would guess that moving the blind once will drain a lot more battery than only 433MHz communication. Would be very intresting to know how many communications equal one time moving the blind in regards to the battery drain.

For HomeAssistant an update is called every 10 minutes and multicast pushes are processed

[2021-04-02 09:51] d-EScape commented on #7
Interesting ... we are getting a bit of topic, but I'm curious. What it the advantage of running a (real) update instead of the update_from_cache in your use case?
You are absolutely right about the battery drain of communication vs operating the blinds only once, but still... over a longer time it might be noticeable. Just like the amount of electronics in modern cars (alarm/remote assistance etc

[2021-04-02 10:46] budachst commented on #7
What I am more curious about is actually why I seem to be able to crash my motion bridge, when issuing too many of those Update.trigger() commands on a regular basis. I do agree that it may enough to do that once a day, when the blinds are not operated, but nevertheless, the bridge shouldn't crash.

Note, that can't say for sure if it's actually crashing, but at least the blue LED turns red when y

[2021-04-02 11:13] d-EScape commented on #7
If it works anything like common ('Klik aan klik uit' in the Netherlands) 433 switchable power outlets then it will shoutout every signal several times, just to make sure it is actually received. That should not be necessary with true(!) bi-directional communication, but I wouldn't be surprised if it is just that inefficient. The bridge shouting out an update request ten times and every blind resp

[2021-05-16 19:20] mitchellrj commented on #5
I'm also looking into this @lewisbrown-uk, I haven't received my blinds yet, but have spent a fair bit of time reverse-engineering the app.

@starkillerOG it seems both these products use motors, hubs, and an SDK from [Dooya](http://www.dooya.com/).

[2021-05-17 05:46] lewisbrown-uk commented on #5
The integration has been working perfectly with my blinds after the change
to support the gateway device type.

On Sun, 16 May 2021 at 20:20, Richard Mitchell ***@***.***>
wrote:

[2021-05-22 18:06] starkillerOG commented on #5
@mitchellrj, @lewisbrown-uk  thanks for the feedback, I will list Bloc Blinds and Dooya as working in the documentation.

[2021-05-23 19:48] lewisbrown-uk commented on #5
The only thing I would add is that auto discovery doesn’t work with my Bloc
Blinds hub.  Everything seems to work fine once I’ve entered the IP address
of the gateway.  I haven’t had time to WireShark it to investigate why but
will let you know if I find out anything helpful.

Lewis

On Sat, 22 May 2021 at 19:06, starkillerOG ***@***.***> wrote:

[2021-06-10 08:21] BodingClockchian opened #9 "AccessToken error"
Hi, im having a bit of a strange problem with the gateway.

I have a repeating issue with the gateway randomly forgetting all its settings. Normally I would delete the gateway and add a 'new' one in the Motion app. Today it looks like the connections to the Motion servers are down. (From my network point of view)

The situation. Gateway is connected to my WiFi and has been assigned an IP-adres. It

[2021-06-10 08:58] starkillerOG commented on #9
Hi @BodingClockchian.
That seems like a weard issue for the gateway forgetting its settings, I have not experianced that.
Have you contacted Motion/Coullise B.V. about this?

Actually this morning I also saw the light on my gateway blinking yellow, so I don't think it is a issue at your side but the cloud servers of Motion are actually down.

That is really intresting, I have experianced a simular

[2021-06-10 09:27] BodingClockchian commented on #9
Hi, no I still have to contact Motion/Coullise B.V. about the reset issue.

The whole Motion app / cloud connected devices is a really bad idea. This accesstoken issue is the perfect example why you should not buy cloud connected devices. Still blinking yellow btw (@11:23 10-06-2021)

Is there a way to update the underlaying tokens somehow?

[2021-06-10 11:51] starkillerOG commented on #9
@BodingClockchian Note that the whole AccesToken is only a hypothesis and I don't know if this is actually the case.

Besides creating a new account on the Motion Blinds Cloud I don't know how to update the tokens.

The error you provided: 'AccessToken error' is an error returned by the gateway itself, that means that there is eather something wrong in the firmware of the gateway that might requir

[2021-06-10 12:07] BodingClockchian commented on #9
@starkillerOG
Yeah im using the correct key. I've been using it for a while now. Somehow im now able to control the blinds (after readding bridge again) with python (this repo and HASSIO) but not with the app anymore. Device does not exist, doesnt belong to user errors when adding a new device.

I've checked the AccessToken, its the same. There's something f**cking things up, not sure where to loo

[2021-06-11 09:54] starkillerOG commented on #9
@BodingClockchian I checked at my gateway, and when I unplug my internet from my router, the motion blinds keep working just fine through HomeAssistant.

So the cloud connection is not required to check the accestokens.

I also tested what happens if I use the wrong key, and then I get exactly the same error message as you get.
Therefore I would advise to check the key once more from the motion ap

[2021-06-15 12:45] nagypeeter opened #10 "motionblinds.motion_blinds device has status '6' that is not yet known"
2021-06-15 14:42:51 ERROR (SyncWorker_10) [motionblinds.motion_blinds] Device with mac 'xxx' has status '6' that is not yet known, please submit an issue at https://github.com/starkillerOG/motion-blinds/issues.

[2021-06-15 13:17] BodingClockchian commented on #9
@starkillerOG
In the meantime I've received a new bridge from Coullise. They said my current one does have a problem that could be fixed. (Not sure how they would know this but sure).
(Api key is the same btw, I've checked)

[2021-06-15 13:36] starkillerOG commented on #9
Intresting, so probably it is something in the firmware.
Good to hear that you are back up and running with your new gateway.

Schould I close this issue then?

[2021-06-15 13:38] starkillerOG commented on #7
I will close this issue since I think all problems are resolved.
Feel free to open a new issue if you have more questions/problems

[2021-06-15 13:38] #7 closed

[2021-06-15 13:40] starkillerOG commented on #10
@nagypeeter thank you for reporting.
I already new about the status "6", it is a bug in the firmware of the bridge.
The product developers will remove this in a new version of the firmware of the bridge.
I will in the meantime add status "6" as "firmware_bug" to avoid this error warning poping up.

[2021-06-15 13:40] #10 closed

[2021-06-15 13:49] BodingClockchian commented on #9
Yeah, I guess its the firmware. Thanks for looking into this with me, really appreciate it. ;)

[2021-06-15 13:49] #9 closed

[2021-06-24 08:52] starkillerOG commented on #9
@BodingClockchian I just got the beta version of the new firmware, I got the same errors as you did.
I now updated this library to work with the new gateway firmware, so it is now safe to use the new firmware.

[2021-07-15 08:39] basssment opened #12 "try to use with brel blinds"
Hi Strarkiller,

I found your script and was trying to use it for my blinds.
They are brel blinds so am not shure if it works..

I folowed your description and with the "m.GetDeviceList()"
i get the following:

 m.GetDeviceList()
{'500291dc94d20001': <MotionBlind mac: 500291dc94d20001, type: None, status: Non

[2021-07-15 16:34] starkillerOG commented on #12
@basssment it looks like it works.
At least you can get the device list.

The states are still None since you have not yet requested a status update.

try running the following python script, that schould actually update the status and print the info of all blinds:
[code]

[2021-07-15 16:36] starkillerOG commented on #12
Please let me know if the script above works or if you need any additionel help.
If it works, I will update the documentation of this library and the HomeAssistant component to list Brel blinds as working.

[2021-07-17 14:30] tomzorr opened #13 "Issue Brel Blinds"
Hello,

I'm trying to add a Brel Hub what works, but it gives an error on a brel Blind. So it does see the motor.

This is what a get:

Device with mac 'e868e70bd7500008' send an response with unexpected data, please submit an issue at https://github.com/starkillerOG/motion-blinds/issues. Response: '{'msgType': 'ReadDeviceAck', 'mac': 'e868e70bd7500008', 'deviceType': '10000000', 'data': {'type':

[2021-07-17 20:22] lawa42 opened #14 "multicast docker problem"
Thanks for putting this together.
I am running HA in a docker container. I can access the blinds from the host system (tested directly from python) but HA shows the 5 sec timeout error message related to multicast issues.  Multicast is enabled on all devices I have  (one real one and a couple of docker related ones). The docker-compose image has the network mode set to host. Also HA shows the corr

[2021-07-19 12:13] mitchellrj commented on #5
@lewisbrown-uk how did you get the API key for the bloc blinds hub? Tapping the about page on the android app as with motion blinds doesn't work for me.

[2021-07-19 12:42] starkillerOG commented on #13
@tomzorr it looks like your blind has wirelessMode 0 = Uni-direction instead of Bi-direction.
That means the gateway can talk to the blind, but the blind can not talk back.
Therefore the blind is unable to communicate things like RSSI connection, battery level, current position etc.

I will try to find some time to update this library to support Uni-direction blinds.
however you schould still be a

[2021-07-19 13:34] lewisbrown-uk commented on #5
Strange - that’s exactly how I got it.

Press on the three horizontal bars at the top left, then the gear icon,
then tap the screen five times and it popped up a dialog with the key and
the option to copy it.  I have version 1.2.1(1023) of the app in case you
have anything different.

On Mon, 19 Jul 2021 at 13:13, Richard Mitchell ***@***.***>
wrote:

[2021-07-19 13:34] lewisbrown-uk commented on #5
Oh, but I’m using the iOS app, maybe that’s the difference.

On Mon, 19 Jul 2021 at 14:34, Lewis Brown ***@***.***> wrote:

[2021-07-19 18:58] starkillerOG commented on #13
@tomzorr I just released version 0.5.4 of this library with some fixes for Uni-Direction blinds.
Please update to that version and see if everything works as expected.

[2021-07-19 19:00] starkillerOG commented on #13
Please also report back, so I can add Brel-blinds as working in the documentation once all bugs are fixed.

[2021-07-19 19:25] starkillerOG commented on #14
Multicast pushes have proven to be a difficult problem.
Basically something is preventing the multicast pushes from arriving at your HomeAssistant instance.
This is probably some network setup/setting/firewall issue.
You can try the following tips: https://www.home-assistant.io/integrations/motion_blinds/#troubleshooting
Bassically:
- same VLAN
- IGMP snooping/multicast disabled/enabled in router

[2021-07-19 19:26] starkillerOG commented on #14
You can try home-assistant/core#50067 as a custom component if you like.

[2021-07-19 19:43] lawa42 commented on #14
Lets see I might test the custom component. In the meantime I gave up  docker and installed it directly in arch linux. While it worked initially I see it coming and going now. It is unavailable most of the time but shows up every few hours for a couple of minutes.

[2021-07-19 19:44] lawa42 commented on #14
This also does not seem to be a HA issue your python code also stopped working.

[2021-07-19 20:07] starkillerOG commented on #14
@lawa42 yea that can also be caused by a bad signal strenght of the blind.
If you use the "blind_1.Update_trigger()" instead of "blind_1.Update()" you will not have this problem because the multicast push is not beeing awaited.
(You can do that in HomeAssistant in the custom component by un-checking the "wait_for_push").

[2021-07-19 20:33] tomzorr commented on #13
Thanks for the reply.
I got all the stuff by a friend of my. I let you now so fast as possible and send him this information so he can check if it works.

[2021-07-20 07:39] emiel-qx commented on #13
How to update?

[2021-07-20 08:38] starkillerOG commented on #13
@emiel-qx are you using HomeAssistant or are you using this in a python script?

If you are using this in a python script, run this in command line:
`pip3 install --upgrade motionblinds`

[2021-07-20 09:05] emiel-qx commented on #13
No i'm using HomeAssistant. Reinstall the integration isnt updating to 0.5.4 i think?

[2021-07-20 14:31] starkillerOG commented on #13
No that woun't work.

Please download the HomeAssistant files from here: https://github.com/starkillerOG/home-assistant/tree/Motion_blinds_2 (green button on the top right).
Unzip the folder and copy the "motion_blinds" folder from `homeassistant/components/motion_blinds/` to your HomeAssistant config folder under `custom_components`

Then in the motion_blinds folder, open the `manifest.json` file

[2021-07-20 16:50] emiel-qx commented on #13
Still the same error 2 errors :(

Error setting up entry Motion Blinds Gateway for motion_blinds
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/motionblinds/motion_blinds.py", line 768, in _parse_response
    self._parse_response_common(response)
  File "/usr/local/lib/python3.9/site-packages/motionblinds/motion_blinds.py", line 761, in _parse_response_common

[2021-07-20 16:53] emiel-qx commented on #13
Wait, i think its not using the custom components folder.  Do i need add something to my configuration.yaml?

[2021-07-20 17:25] starkillerOG commented on #13
looks like it indeed did not use the custom_components file.
did you restart HomeAssistant after placing the motion_blinds folder in the custom_components folder?
Do you see anything in the top of the log file about "using motion_blinds as a custom component"?

If you have acces to the python virtual enviroment where HomeAssistant is running you can also just use `pip3 install --upgrade motionblin

[2021-07-20 18:03] emiel-qx commented on #13
- Yes, HomeAssistant is restarted.
- No, nothing is in the log file about the new "motion_blinds"

I can't access that because i did use the Homeassistant image in Virtualbox.

[2021-07-20 18:36] basssment commented on #12
Thanx will try that.
Did not have the time to check yet , will report back this week!

[2021-07-20 19:09] tomzorr commented on #13
Hello Startkiller,

i can give you one of my brel motors for testing it out if you want.

[2021-07-21 09:00] starkillerOG commented on #13
@tomzorr that would be greath, it is much easier to test with an actual device.
How is the brel motor connected to your network, do you have some hub from brel, or do u use the motion hub?
Please send me an e-mail to starkiller.og@gmail.com than we can discuss the details.

[2021-07-21 09:03] starkillerOG commented on #13
@emiel-qx if you have python3 installed on some PC (operating system does not matter, can be windows) you can also just test this python lib directly:
use: `pip3 install --upgrade motionblinds` on the command line of that PC to install this library.

then execute the following python script:
[code]

[2021-07-23 06:02] lawa42 commented on #14
I tried to install it as a custom_component but just copying the motion_blinds directory from your Motion_blinds_2 branch into custom_components doesn't work. After adding the required version (0.5.4) it still fails to load and can resolve the subdependency tree. Are there instructions somehwere on how to install this as a custom component?

[2021-07-23 10:59] basssment commented on #12
Found the time to try your script.
Got some info back but also an syntax error. (i'm kind of an noob here...  but keep learning :))

this is the result :
`>>> m.Update()

<MotionGateway ip: 192.168.0.x, mac: 600291dc94d2, protocol: 0.9, firmware: A1                                                                                                                               .0.1_B0.1.4, N_devices:

[2021-07-23 16:06] starkillerOG commented on #12
@basssment alright, we are getting somewhere.
the multicast responses do not work properly (yet) but lets first see if we can get the values from the gateway.
Please try this script:

[code]

[2021-07-23 16:09] starkillerOG commented on #12
btw you can save the above code in a test.py file (using a text editor like notepad) and then run it using: `python3 test.py` from the command line from the location where you saved the file (first run `cd C:\Path\To\The\File` to change the path from where you run the command).

[2021-07-23 17:19] basssment commented on #12
@starkillerOG
that seems to work!

`pi@Domoticzvm:~$ python3 blind.py
<MotionGateway ip: 192.168.0.175, mac: 500291dc94d2, protocol: 0.9, firmware: A1.0.1_B0.1.4, N_devices: 4, status: Working, RSSI: -65 dBm>
<MotionBlind mac: 500291dc94d20001, type: RollerBlind, status: Stopped, position: 100 %, angle: 180.0, limit: Limits, battery: 90.0 %, 12.38 V, RSSI: -91 dBm>
<MotionBlind mac: 500291dc94d200

[2021-07-23 22:33] starkillerOG commented on #12
@basssment good to hear it is working.
I will list the Brel Blinds as supported.

If you are intrested, the following script will open one of your blinds:

[code]
Instead of blind_1.Open() you can also use blind_1.Close(), blind_1.Stop(), blind_1.Set_position(50) or blind_1.Set_angle(90)

For a full list of commands and properties see:
https://github.com/starkillerOG/motion-blinds#gateway-device
a

[2021-07-23 22:33] #12 closed

[2021-07-23 22:48] starkillerOG commented on #14
@lawa42 I just updated this repo for you: https://github.com/starkillerOG/HA-motion-blinds
you can download the files from there, instructions are here: https://github.com/starkillerOG/HA-motion-blinds#how-to-use

[2021-07-23 22:51] starkillerOG commented on #13
If you want to give the custom_component a go, I updated this repo: https://github.com/starkillerOG/HA-motion-blinds
instructions are here https://github.com/starkillerOG/HA-motion-blinds#how-to-use

That is basically the dev version of HomeAssistant official integration, after a while that code will be merged in the official component (might take a while).

[2021-07-24 12:51] lawa42 commented on #14
Hi @starkillerOG thanks but it doesn't work. Upon loading I get an error message that the config flow (gerrman: Konfigurationsfluss) could not be loaded.

[2021-07-25 11:39] starkillerOG commented on #14
@lawa42 do you see any error message in the log when you get the error about the config flow that could not be loaded?

[2021-07-25 14:11] lawa42 commented on #14
Logger: homeassistant.config_entries
Source: config_entries.py:698
First occurred: 16:12:09 (1 occurrences)
Last logged: 16:12:09

Error occurred loading configuration flow for integration motion_blinds: cannot import name 'AsyncMotionMulticast' from 'motionblinds' (/var/lib/hass/deps/lib/python3.9/site-packages/motionblinds/__init__.py)

[2021-07-25 16:11] starkillerOG commented on #14
@lawa42 that is really strange, it looks like it is now using the custom component but somehow it did not properly install version 0.5.4 of motionblinds as instructed in the manifest.

Could you remove your motion integration from your homeassistant, then fully restart homeassistant again and then try to set it up again and see if you still get this config flow error?

[2021-07-27 20:26] basssment commented on #12
@starkillerOG
tried to close blind one by using your example.
Unfortunatly i recieve an time out.

`#python3 blind.py
Timeout of 5.0 sec occurred on 5 attempts while waiting on multicast push from update request, communication between gateway and blind might be bad.
Traceback (most recent call last):
  File "blind.py", line 6, in <module>
    blind_1.Update()
  File "/home/pi/.local/lib/python3.7/

[2021-07-28 07:07] starkillerOG commented on #12
@basssment sorry I forgot to replace the `.Update` with the `.Update_trigger`.
This schould work:

[code]

[2021-07-28 07:09] starkillerOG commented on #14
@lawa42 that is greath news.
I changed the defaults so that `Wait for multicast push on update` is by default off once the new PR is merged into HomeAssistant.

I will close this now since I think the issue is resolved.
Feel free to open it again or make a new issue if you need any additional help or have questions.

[2021-07-28 07:09] #14 closed

[2021-07-28 11:21] lawa42 commented on #14
Still working no disconnects and my automatisations are also active. Thanks for the help

[2021-07-28 18:49] basssment commented on #12
@starkillerOG  Thanx!
should have seen that myselfe ;)
works now!
Thank you for the great support!!

[2021-07-29 13:19] basssment commented on #12
@starkillerOG
small question
how do i select the 2nd screen? if i use blind_1 the fist closes or opens but when i select blind_2 the same blind goes down :)

[2021-07-29 16:30] starkillerOG commented on #12
@basssment select a diffrent blind object from the `m.device_list` so bassically change the `[0] to [1]`

script to open the second blind:
[code]

For your understanding try running this code:
[code]
That will print the dictionary containing all connected blinds, with as keys the blind id's.

That dictionarry can be converted to a list using:
[code]

and then we select one of the blinds form that

[2021-07-29 20:21] basssment commented on #12
Thank you
Got it! even thoug i do not get a good result on the print output there are not numbered.
I played with the settings but blind 1 does not seem to work looks like the connection with the usb hub is not active anymore so cant controll it with the app.. but other blinds work as expected.

Thank you verry much!

[2021-09-03 12:07] sygys commented on #10
You say you did something so this error (status 6) wouldnt show up anymore but just got the error today. So isnt this fixed as of june? or is this a new error?

[2021-09-03 12:56] starkillerOG commented on #10
The PR with the fix has not yet been merged: https://github.com/home-assistant/core/pull/50067
It is still waiting on a revieuw from the core team.

[2021-09-03 13:22] sygys commented on #10
No problem, i guees this error has no effect on the use of the blinds (curtain)?

[2021-09-03 13:40] starkillerOG commented on #10
yes you are correct.

[2021-10-05 12:56] Rustynl opened #15 "Issue Brel Hub"
I am trying to add my brel hub to the motion blind integration, but I am getting an unknown error has occured.
I am thinking it might have to do with my google wifi not (fully) supporting multicast, can you let me know if this error is indeed caused by that?

`Logger: motionblinds.motion_blinds
Source: /usr/local/lib/python3.9/site-packages/motionblinds/motion_blinds.py:797
First occurred: 11:59:4

[2021-10-06 07:16] starkillerOG commented on #15
@Rustynl this does not look like an issue with the multicast, this is probably due to the unidirection-blind not yet beeing supported in your HomeAssistant version.
The new HomeAssistant version that schould come out today (2021.10.0) schould have support for unidirection-blinds, however it has not yet been tested, so please report back here if it works with the new HomeAssistant version.

Besides

[2021-10-06 19:18] Rustynl commented on #15
I tried to run the script (first time I am using Python, so possible I am doing something wrong) and I am getting the following (*’s are replacing my username):

Traceback (most recent call last):

  File "c:\Users\*****\AppData\Local\Programs\Python\Python310\Lib\motion.py", line 8, in <module>

    blind.Update()

  File "C:\Users\*****\AppData\Local\Programs\Python\Python310\lib\site-packages\m

[2021-10-06 19:25] Rustynl commented on #15
I tried to run the script (first time I am using Python, so possible I am doing something wrong) and I am getting the following (*’s are replacing my username):

[code]

[2021-10-07 19:57] starkillerOG commented on #15
@Rustynl I think this PR will fix the greyed out button: https://github.com/home-assistant/core/pull/57266
The error above is something to do with windows, but as it is working with your homeassistant I will leave that as is.

Do you also still see the slide bar for the position selection?

[2021-10-09 11:33] Rustynl commented on #15
Once the PR gets added to HA I will let you know.
I dont think it was in any of the updates of the last few days.

If you want I can still try to figure out why I get that Python error. Happy to help if it helps you.

I do not see a slide bar for position selection, only open, stop and close.

[2021-11-04 07:54] Rustynl commented on #15
It is all working now, thanks!

I will have an other look at running the python script this weekend, I am running it in Python3.
But I just installed and ran it, never ran anything else before. Will do some digging and let you know.

[2021-11-04 13:16] starkillerOG commented on #15
@Rustynl Great to hear it is now working.
Thanks for your effort.

[2021-11-04 13:17] starkillerOG commented on #13
HomeAssistant 2021.11.0 has been released and confirmed to work with Brel Hub and Brel Blinds with uni-direction control.
Therefore I am closing this issue.

If you have any other problems or questions, feel free to open it again or make a new issue.

[2021-11-04 13:17] #13 closed

[2021-12-23 17:33] haXs commented on #5
@mitchellrj  - I was in the same boat, the official Bloc Blinds app doesn't seem to hand out the API key on Android, I was on version 1.1.0729(10).

I was able to recover my API key by installing a packet capture app on my phone and watching some traffic, you will see some connections along with a string starting: accessToken= , its the first 16 characters of this ( including - ), after I put this

[2021-12-24 11:49] starkillerOG commented on #5
@haXs I would be intrested in those packet captures, it might tell me how to retrieve the accessToken automatically for Bloc Blinds.
Of course make sure to mask any security information in the captures before posting them here, please change the tokens etc in XXX-XX-XXX or something, but keep the amount of characters visable.

[2021-12-24 12:20] haXs commented on #5
Sure, hopefully this is what you are after - So this was ran on my phone with the app open and me sending an open command to the blind:

POST /userCenter/deviceService/deviceControl HTTP/1.1
Connection: close
Content-Type: application/x-www-form-urlencoded
Content-Length: 161
Host: connectoreu.shadeconnector.com:8091
Accept-Encoding: gzip
User-Agent: okhttp/4.7.2
accessToken=XXXXXXXX-XXXX-XXXX-XXX

[2022-01-08 14:49] starkillerOG commented on #5
@haXs thanks for sharing the captures, unfortunately this is communication to the internet servers where they get the token from.
I was hoping to get the token directly from the gateway.

Anyway thank you for your help.

[2022-01-10 21:33] jochim-vd opened #17 "Brel Hub unexpected data error"
The hub is working and connected to HA, but the entities only update state by HA polling the hub. I think it may be related to these 2 errors I'm getting:

[code]
and
[code]

Do you have more info on this error?

[2022-01-10 22:42] starkillerOG commented on #17
The error seems to indicate the AccesToken is wrong.
Are you able to control the blinds and open/close them (you schould not be if the token is wrong)?

Are you 100% sure that the AccesToken that you use is correct?
Was it working before or is this the first time you started using this code?

Regarding the polling, HomeAssistant also supports push updates when a blind stops moving.
so if you initi

[2022-01-11 12:20] #15 closed

[2022-01-11 21:10] fabiancamps commented on #17
I'm having issues too with the multicast part. I have a Unifi network and followed the steps in the guide, yet push via multicast doesn't seem to be working.

I get the same access token error and I can control the blinds via HA when I disable the wait for push. Downside is that it defaults to its standard polling of 10 minutes.

[2022-01-11 21:20] starkillerOG commented on #17
@fabiancamps do you have Brel Blinds or Motion blinds?
Where did you get the API key from, a official app?

Is the “Enable multicast enhancement (IGMPv3)” setting disabled for all Unifi acces points (it needs to be set on each acces point seperately from which I understood).

Is the gateway and the homeassistant device connected to the same network on the same VLAN/subnet?

What type of blinds do

[2022-01-11 21:54] fabiancamps commented on #17
I have the Motion Blinds, CM-02 with the mini WiFi bridge.
I got the API key from the Motion Blinds app on iOS.
Disabled IGMPv3 (also tried disabling IGMP Snooping on the LAN network) but this doesn't work. Other documentation on the internet says that when you want to use multicast on Unifi, it actually should be Enabled instead of Disabled.
Gateway/Bridge and HA are on the same VLAN (I'm not usi

[2022-01-11 22:01] starkillerOG commented on #17
@fabiancamps I actually do not have Unifi equipment and are not familiar with it, my guess is that the multicast is some setting in the router/firewall or something.

I think that IGMP Snooping indeed needs to be disabled.
Maybe try with the IGMPv3 settings enabled then?
I don't know, you can play around with the settings.

[2022-01-11 22:04] starkillerOG commented on #17
@fabiancamps
A easy way to debug the multicast is to run wireshark on a PC on the same VLAN as the gateway and Homeassistant.
Use this filter: `ip.src==238.0.0.18 or ip.dst==238.0.0.18`
You schould then see the multicast messages of the gateway on your network.
If you move a blind, at the stop of movement you schould see A UDP message in wireshark wich contains all kinds of information about the p

[2022-01-11 22:06] starkillerOG commented on #17
@fabiancamps do you see exactly this same error message?
`Received actionResult: 'AccessToken error', when sending message: '{'msgType': 'WriteDevice', 'mac': '94b97e0d20180003', 'deviceType': '10000000', 'AccessToken': 'xxxxxxxx-xxxx-xx', 'msgID': '20220110211938034', 'data': {'operation': 5}}'`

If so I am going to discuss with the manufacturer why this could be happening, because that is very w

[2022-01-11 22:25] jochim-vd commented on #17
@starkillerOG Yep the access token is correct because I can control the blinds just fine. It's been working for a long time in polling mode.

I also have Unifi AP's (no Unifi switches and router though) and my multicast also isn't working. However, the report messages can be picked up by Node-RED using a UDP node just not by the Motion Blinds integration.

[2022-01-12 10:37] fabiancamps commented on #17
I think I tried everything. With IGMP Snooping, without. With IGMPv3, without. With wireshark I don't get to see any multicast traffic whatsoever from ip.src==238.0.0.18 or ip.dst==238.0.0.18. Other multicast devices (Google Cast, AirPlay) all just work fine.

[2022-01-12 12:06] fabiancamps commented on #17
I tried on a different PC and it seems to be working on the broadcasting part:
![image](https://user-images.githubusercontent.com/5932051/149137208-85429b69-b2af-43a9-84f3-2ed7dab2b9ff.png)
192.168.1.13 is de WiFi bridge
192.168.1.41 is my phone from where I do the request to adjust the blinds

HA doesn't seem to see this and it's also connected via Ethernet just like my other PC where I did get W

[2022-01-12 12:11] fabiancamps commented on #17
I got it! I reinstalled the integration in HA and chose for Network Interface for "any" instead of my HA instance IP.

[2022-01-12 13:40] starkillerOG commented on #17
@fabiancamps good to hear it is finally working :)
Those multicast messages are a nightmare, on so many diffrent systems and routers this goes wrong, but mostely it is some setting in a device and not so much the actuall code that has a problem.

@fabiancamps do you still have the `'AccessToken error'` after the multicast is now working?

[2022-01-12 13:43] starkillerOG commented on #17
@jochim-vd please follow the same steps as @fabiancamps to see if you can get multicast messages on a PC in wireshark, and try a few diffrent Network Interfaces (during setup of the HomeAssistant integration).

[2022-01-12 13:50] starkillerOG commented on #17
@fabiancamps could you post your final settings for the Unify AP's that are working?
IGMP Snooping on/off
IGMPv3 on/off

[2022-01-13 00:11] jochim-vd commented on #17
@starkillerOG I am able to capture multicast messages using Wireshark. They even show up in Home Assistant itself using the UDP node in Node-RED, but they are not picked up by the Motion Blinds integration.

I reinstalled the integration, trying multiple interfaces, but without luck. My HA machine has 2 NIC's (one on my regular network and one on my IoT network), I tried them both and the "any" op

[2022-01-15 14:45] starkillerOG commented on #17
@jochim-vd it probably has to do with these lines of code that create the multicast UDP socket:
https://github.com/starkillerOG/motion-blinds/blob/c9729794885699557397f357a452f958d9019ba6/motionblinds/motion_blinds.py#L124-L153

I am defenitly not an export in these low level socket functions.

You could try the following python script on a PC and on your HomeAssistant device:
Filling in the corre

[2022-01-16 19:19] JonOve opened #18 "Brel hub "up" greyed out"
Just installed the integration in Home Assistant using the DD-1554 Brel hub. Stop and down functions properly, the "up" button however stays greyed out. The roller blind motor only has up, stop and down function. It does not have a position possibility. When I enable the wait for multicast option, also the stop and down button grey out. In the Brel Home app all 3 functions work fine using the same

[2022-01-17 11:17] starkillerOG commented on #18
@JonOve do you see any warning/errors related to the motion_blinds integration in the HomeAssistant log?

[2022-01-17 11:19] starkillerOG commented on #18
@JonOve what kind of blind do you have that has the issue?

[2022-01-17 11:25] starkillerOG commented on #18
@JonOve could you run the following pyhton script
(can be done on a PC where python is installed and motionblinds module using `pip3 install --upgrade motionblinds`)

[code]

Please adjust the IP and Key in the script and post the result here.

[2022-01-17 11:35] JonOve commented on #18
No warnings or errors in the HA log

[2022-01-17 11:36] JonOve commented on #18
I have a bi-directional Brel roller blind. Controlled via the Brel hub DD1554.

[2022-01-17 11:38] JonOve commented on #18
This is new for me. Will try yo do so.

[2022-01-17 11:48] starkillerOG commented on #18
If it is a bi-directional roller blind, why can't you set a position of the blind (instead of only open/close/stop)?

[2022-01-17 12:20] JonOve commented on #18
Good question. I actually expected it to do so when I bought the motor, but it seems Brel has several types of motors. Also bi-directional motors which cannot be positioned by percentage via the Brel home app. The DD1554 Brel hub can only steer bi-directional blinds which works in my case.

Verstuurd vanaf mijn iPad

[2022-01-17 12:23] starkillerOG commented on #18
@JonOve I will need the output of the script above to see what kind of response the blind gives to identify these types that do not properly report the position.

[2022-01-17 15:55] JonOve commented on #18
I was able to install python and run the command  pip3 install --upgrade
motionblinds succesfull. Then I saved the  "pip3 install --upgrade
motionblinds" script as a python file named "test.py.
Running python3 c:/python/test.py however gives me a syntax error.

Op ma 17 jan. 2022 om 12:46 schreef starkillerOG ***@***.***>:

[2022-01-19 10:49] starkillerOG commented on #18
@JonOve could you post the syntax error you get?
whant happens if you just run `python3` does it actaully open python3?

[2022-01-19 15:35] JonOve commented on #18
C:\>pip3 install --upgrade motionblinds
Requirement already satisfied: motionblinds in c:\python\lib\site-packages (0.5.8)
Requirement already satisfied: pycryptodomex in c:\python\lib\site-packages (from motionblinds) (3.12.0)

[2022-01-19 17:29] starkillerOG commented on #18
@JonOve alright, do not inlcude the `pip3 install --upgrade motionblinds` line in the test.py file.

The only contests of the test.py file schould be:
[code]

[2022-01-19 17:30] starkillerOG commented on #18
This is good, that means the motionblinds module has been sucesfully installed.

[2022-01-19 18:05] JonOve commented on #18
@starkillerOG

Thank you for your support.
Herewith the outcome of the test.py file;

W:\Mijn documenten>python test.py
<MotionGateway ip: 192.168.1.10, mac: d8bfc0c3d1e3, protocol: 0.9, firmware: None, N_devices: 1, status: Working, RSSI: -41 dBm>
Traceback (most recent call last):
  File "W:\Mijn documenten\test.py", line 13, in <module>
    blind.Update()
  File "C:\Python\lib\site-packages\mot

[2022-01-21 09:35] starkillerOG commented on #18
@JonOve Alright, so we get a socket error when creating the multicast socket.
That is quite strange and I would love to figure out how to solve that, but lets first look at the blinds.
Could you change the test.py script to:

[code]

So change `blind.Update()` to `blind.Update_trigger()`

Besides to go into the socket error could you create a second test script (test2.py) and run it using the foll

[2022-01-21 10:19] JonOve commented on #18
@starkillerOG

Yes, no problem;

W:\Mijn documenten>python test.py
<MotionGateway ip: 192.168.192.10, mac: d8bfc0c3d1e3, protocol: 0.9, firmware: None, N_devices: 1, status: Working, RSSI: -40 dBm>
<MotionBlind mac: d8bfc0c3d1e30007, type: RollerBlind, status: Closing, position: 0 %, angle: 0.0, limit: NoLimit, battery: 0.0 %, 0.0 V, RSSI: -85 dBm, com: BiDirectionLimits>

W:\Mijn documenten>pytho

[2022-01-21 13:13] starkillerOG commented on #18
@JonOve this is greath.
I see that indeed your blind is reported as `BiDirectionLimits` instead of `BiDirection` (which my blinds have) so I can indeed see if position is supported.

I would like you to run this test.py script 3 more time:
- one in which the blind is completly open
- one in which the blind is completly closed (no light comes through the window)
- one in which the blind is somewher

[2022-01-21 13:16] starkillerOG commented on #18
@JonOve in regards to the socket error, could you change the test2.py file to this and test again:
[code]

[2022-01-21 15:40] JonOve commented on #18
@starkillerOG

Yes, no problem;
FYI, Updating of the status takes quit some time.
Seems to me there is no update in case of halfway.

**Closed**
W:\Mijn documenten>python test_closed.py
<MotionGateway ip: 192.168.1.10, mac: d9bfc0c3d1e3, protocol: 0.9, firmware: None, N_devices: 1, status: Working, RSSI: -40 dBm>
<MotionBlind mac: d9bfc0c3d1e30007, type: RollerBlind, status: Closing, position: 0 %

[2022-01-22 09:29] starkillerOG commented on #18
@JonOve Thank you very much for the testing, I have fixed the socket part.
I am still a bit unsure about the open/closed status, the "status" that is shown here i actually just the last command that has been sent to the blind, so that does not represent the open/closed status verry well I think.
Could you run the following script one more time for the 3 situations: open/closed/half way:

[code]

[2022-01-22 13:17] JonOve commented on #18
@starkillerOG

No problem at all!

Here the results using the Brel Home app to control the blind.
Using the standard remote control, the status remains on "opening" or "closing" Just what is last used in the app.

**Closed**
W:\Mijn documenten>python test_closed.py
<MotionGateway ip: 192.168.1.10, mac: d9bfc0c3d1e3, protocol: 0.9, firmware: None, N_devices: 1, status: Working, RSSI: -43 dBm>
<Moti

[2022-01-22 13:41] starkillerOG commented on #18
@JonOve did you change the test scripts to use the:
`print(blind._write(blind.QUERY_DATA))` line?

The output is not what I would expect...

[2022-01-22 14:18] JonOve commented on #18
@starkillerOG

So sorry, you are totally right, apologies. Made the changes in the file, but forgot to save them.
Please find the correct results;

**Closed**
W:\Mijn documenten>python test_closed.py
<MotionGateway ip: 192.168.1.10, mac: d9bfc0c3d1e3, protocol: 0.9, firmware: None, N_devices: 1, status: Working, RSSI: -39 dBm>
{'msgType': 'WriteDeviceAck', 'mac': 'd9bfc0c3d1e30007', 'deviceType':

[2022-01-22 14:54] starkillerOG commented on #18
@JonOve thank you very much for all your debuging.
Unfortunatly I can now say for sure there is no reliable way to determine if your type of blind is opened or closed, it will only report the last command sent to the blind from the gateway, but if you use a remote or manual controls on the blind (if they are present) the last command of the gateway will not represent the state of the blind.

There

[2022-01-22 14:55] starkillerOG commented on #18
I will now close this issue since the original problem is fixed.
If you experiance any other problems or have other questions, feel free to open this issue again or open a new issue.

[2022-01-22 14:55] #18 closed

[2022-01-22 15:16] JonOve commented on #18
Thanks a lot!

[2022-02-22 16:36] wmollenvanger opened #19 "Unknow status 7"
Got:
2022-02-22 17:27:49 ERROR (SyncWorker_4) [motionblinds.motion_blinds] Device with mac 'e868e7c229f00002' has status '7' that is not yet known, please submit an issue at https://github.com/starkillerOG/motion-blinds/issues.

These are Brel shades.

Not sure what status is read but here you can find the API description: https://github.com/alexbacchin/ConnectorBridge/blob/master/doc/Wi-Fi%20Loca

[2022-02-28 11:48] starkillerOG commented on #19
@wmollenvanger thank you for reporting the issue.
The status 7 is not documented in the API (also not the one you provided).
I have asked the manufacturer what status 7 means.

In the mean time you can just ignore the error, it schould not effect the operation of the HomeAssistant integration.

[2022-03-08 16:53] wmollenvanger commented on #17
Adding this for it might help someone in the future:

I had the same problem with multicast updates. My homeassistant runs in docker with network=host option set. Installed tcpdump in the homeassistant docker to make sure the multicast packets arrived (they did) but got the "[motionblinds.motion_blinds] Timeout of 5.0 sec occurred ...." etc.

Next I changed the interface entry in the motion_blinds

[2022-03-16 21:25] markxroberts opened #20 "Unrecognised device installing motion blinds through HA"
I've tried installing Motion blinds through HA.  I have 3 blinds running on one wireless controller.  All were bought at the same time. 1 blind is recognised and installed correctly, but the other 2 aren't, giving errors in the HA log.

Log in HA shows:

[code]

Integration installation screenshot is:
<img width="600" alt="Screenshot 2022-03-16 at 21 15 05" src="https://user-images.githubuserconte

[2022-03-17 09:21] starkillerOG commented on #20
@markxroberts Thank you for reporting this issue, as stated in the error message the blind type of those two blinds is not yet known and is not included in the API documentation I currently have.
I can add this blind type to this library, no problem, I just need to know some details.

What brand are the two blinds that are not added to has, Brel or Motion blinds?
What kind of blinds are this exact

[2022-03-23 13:21] wmollenvanger opened #21 "context.user_id"
Hi starkiller,

Sorry for the long read, needed to put down a lot of thoughts and efforts I had with this issue.

There are several ways to open/close my roller blinds and I need to distinguish between them in order to automate them correctly. For automation (close when it is sunny etc) I use node red with home assistant (love the graphical flow building). In node red I receive home assistant chan

[2022-03-23 13:34] starkillerOG commented on #19
I fixed the status 7 issue in the 0.6.2 release of motionblinds.
It will be fixed once this PR is merged into HomeAssistant: https://github.com/home-assistant/core/pull/68570

[2022-03-23 13:34] #19 closed

[2022-03-23 13:36] starkillerOG commented on #20
@markxroberts thanks for the information.
The skylight blinds have been added in motionblinds 0.6.2.
It will be fixed in HomeAssistant once this PR is merged: https://github.com/home-assistant/core/pull/68570
(and a new HomeAssistant version is released).

[2022-03-23 13:43] starkillerOG commented on #21
@wmollenvanger Yes I think you explained it very well.
Indeed when you request a blind to move through HA, only the command to move the blind is send and nothing more.
Once the blind stops moving, it sends a 433MHz message to the gateway, the gateway then sends a UDP multicast message on the ethernet network which is picked up by HomeAssistant and that updates the state (position of the blind).

I

[2022-03-23 13:46] starkillerOG commented on #21
@wmollenvanger I am actually working on changing this behaviour right now.
The new behaviour will be that when a move is requested through HASS, I will start asking the blind for its position every 5-10 seconds or so untill the postion of the blind does not change anymore.
You will then get multiple postion updates, probably the first few will always have the user_id.
And you can see the blind mov

[2022-03-23 13:49] wmollenvanger commented on #21
I saw somewhere you were working on that, hope I can use it as a workaround. Any ETA?

[2022-03-23 19:07] starkillerOG commented on #21
@wmollenvanger I made the PR today and it is already merged into HomeAssistant: https://github.com/home-assistant/core/pull/68580.
So the next version of HomeAssistant will have this new behaviour.
The Beta release will be on March 30th and the official release will be on April 6th.

I already tested the code and it works.

[2022-03-23 19:09] starkillerOG commented on #20
@markxroberts The PR has been merged.
So the next version of HomeAssistant will have the fix.
The Beta release will be on March 30th and the official release will be on April 6th.

[2022-03-24 06:52] wmollenvanger commented on #21
That's great! I will test it when it comes out.

Let's close this issue.

[2022-03-31 07:44] starkillerOG commented on #17
This PR https://github.com/home-assistant/core/pull/68852 will actually eliminate the need to specify the interface.
All possible interfaces will just by tried and tested during setup and at each boot of HomeAssistant.
Automatically a working interface will be searched (including the "any" option).

Even if the network changes, a simple restart of the integration/homeassistant will update the inte

[2022-03-31 07:44] #17 closed

[2022-03-31 07:47] starkillerOG commented on #20
Since the HomeAssistant 2022.04 Beta has been released that incorperates a fix for this issue, I will be closing this issue.

If you have any other problems or questions, feel free to open a new issue!
Please let me know if the HomeAssistant 2022.04 release did not fix the issue.

[2022-03-31 07:47] #20 closed

[2022-03-31 07:59] markxroberts commented on #20
<div style="font-size: 15px;"><div>Thanks for all the work you've done on this.&nbsp; I was saving my reply until I'd tested the new version - I haven't had chance yet.<br></div><div><br></div><div><br></div></div><div id="cm_signature"><div>via <a href="https://cloudmagic.com/k/d/mailapp?ct=dw&amp;cv=10.0.71&amp;pv=10.0&amp;source=email_footer_2">Newton Mail</a></div></div><div><br></div><div><br

[2022-03-31 09:54] starkillerOG commented on #20
I just have to ask, your github name is @markxroberts, are you the youtuber Mark Rober?
https://www.youtube.com/channel/UCY1kMZp36IQSyNx_9h4mpCg
Small change, but it would be so cool.

[2022-03-31 11:09] markxroberts commented on #20
<div style="font-size: 15px;">I'm really sorry to disappoint, but it's not me!<br></div><div style="font-size: 15px;">I've now tested with HA 2022.4 rc and it works well, thank you.<br></div><div style="font-size: 15px;"><br></div><div style="font-size: 15px;"><div><br></div></div><div id="cm_signature"><div>via <a href="https://cloudmagic.com/k/d/mailapp?ct=dw&amp;cv=10.0.71&amp;pv=10.0&amp;sourc

[2022-04-13 18:50] ArmoredCavalry opened #22 "New Blind Type - 27"
I got the motion-blind integration up and running, but saw this error in logs with a message to open an issue -

`blind_type '27' that is not yet known`

Here is a link to the product - https://www.altawindowfashions.com/product/dual-shades/

Let me know if I can provide any other info!

[2022-04-13 18:53] ArmoredCavalry opened #23 "Additional Brand Support - Discoverability"
Found that the BLISS Automation / Alta brand shades work great with motion-blinds integration, luckily stumbled on this thread about it - https://community.home-assistant.io/t/dooya-rf-blinds-controlling-with-receiving-sending-signals/193840/7

Looks like if you go to the FAQ tab on this page, has an up-to-date list of the brands it works with - https://chowmain.software/drivers/control4-dooya

I

[2022-04-13 20:05] starkillerOG commented on #23
The Readme of this project has been updated, closing this issue.
Thanks again!

Feel free to open a new issue if you have additional questions/problems!

[2022-04-13 20:05] #23 closed

[2022-04-13 20:11] starkillerOG commented on #22
This looks very simular to the dubbelroller of motion blinds.
Is it true that the phone application has a seperate slider/tilt for controlling how much light passes through (besides the position of the whole blind)?

[2022-04-13 20:49] ArmoredCavalry commented on #22
Yes I believe that's correct. Here's a ![screenshot](https://user-images.githubusercontent.com/18032892/163267774-4be0412b-d187-4885-90bb-5697e07f7bdb.png)

[2022-04-13 22:36] starkillerOG commented on #22
The HomeAssistant PR to fully support the Dual Shade is here: https://github.com/home-assistant/core/pull/70019
That will also add the tilt controls.

[2022-04-14 12:36] ArmoredCavalry commented on #23
Thanks for updating! As suggested, I've opened a discussion on a possible new HA feature for integration aliases / search update - https://github.com/home-assistant/frontend/discussions/12328

[2022-04-29 11:28] starkillerOG commented on #22
Dual Shade support will be in HomeAssistant 2022.05 which will be released May 4th.
Please let me know if it works correctly on version 2022.05

[2022-04-30 12:46] wmollenvanger commented on #21
It didn't work for me :-(
I can see the events for the updates about every 5 sec but the user is still null. Would it be possible to have an update immediately after the move command to see if that will solve this? I can change and test the code on my installation if you tell me where it is (looked for it but can't find it).

Cheers.

[2022-05-03 13:02] starkillerOG commented on #21
@wmollenvanger Thats unfortunate.
You could try changing these lines:
https://github.com/home-assistant/core/blob/eb10654e011621b4a7c3c5355f44587cf13270ca/homeassistant/components/motion_blinds/cover.py#L269-L271

Remove those lines and change them to:
`await self.async_scheduled_update_request()`

[2022-05-03 13:03] starkillerOG commented on #21
Where those files are in your system depends on the specific way you installed HomeAssistant. Core, OS etc.

[2022-05-03 17:08] starkillerOG commented on #21
@wmollenvanger that is probably because the permission changed once you edited the cover.py file.
reset the permission using: `sudo chmod a+rwx homeassistant/components/motion_blinds/cover.py`
(the path may be diffrent in your enviroment)

[2022-05-04 13:21] wmollenvanger commented on #21
Think the change didn't work because at that time there's no real change in the position yet.

I experimented with some intervals and 3 seconds or lower seems to be the interval where I get the user id in, at least,  the first event.

[2022-05-07 11:58] starkillerOG commented on #22
Since HomeAssistant 2022.05 is released I will close this issue.
@ArmoredCavalry If you experiance any other issues, please let me know.
If you appriciate the Motion Blinds integration, consider sponsoring this library.

[2022-05-07 11:58] #22 closed

[2022-05-07 11:59] starkillerOG commented on #21
@wmollenvanger you are probablly right.
Unfortunately, lowering the update intervall to 3 seconds is not something I would like to do (due to battery live).

[2022-05-09 05:57] wmollenvanger commented on #21
How hard is it to make the interval an UI configurable value? (default 5 and some text about battery life)

[2022-05-13 13:43] starkillerOG commented on #21
@wmollenvanger well it is not so hard to make it configurable, but it is against the HomeAssistant standards, so a PR implementing that will not be accepted by the HomeAssistant core team.

[2022-05-17 08:22] hector2007ss opened #24 "Must the motion-blinds device be added to the "Motion Blinds" app from which the key is extracted?"
Must the motion-blinds device be added to the  "Motion Blinds" app from which the key is extracted? If this device is not added to my app, but we are in a LAN, can I control it?

[2022-05-17 10:44] starkillerOG commented on #24
@hector2007ss yes you will need an official app in order to retrieve the key. Note that you do not nesesarrly have to use the "Motion Blinds" app, that depends on the actual brand of blinds you have. You need to use the app of the brand you bought (Motion Blinds, Brel, Bloc Blinds, Dooya, Connector app etc.).

Once you have retrieved the key, you do not need the app anymore, all control wil be loc

[2022-05-17 11:05] hector2007ss commented on #24
Thank you for your reply.
Before I retrieve the key, do I need to add the blind that needs to be controlled to the app? I don't know if this will affect the value of key.
In addition, with regard to dooya, which models have you tested this method?

[2022-05-17 11:12] starkillerOG commented on #24
@hector2007ss I think you do need to add the blind to the app, but I don't know if the order matters, I suspect not.
The key is linked to the account you created when setting up your app (I think it asks you for a e-mail adress). The key does not change when adding aditional blinds.

I personally do not have Dooya motors, but other users have reported to me that it indeed works with Dooya motors.

[2022-05-17 11:13] starkillerOG commented on #24
@hector2007ss what brand and model of blinds do you have?

[2022-05-17 11:38] starkillerOG commented on #24
@hector2007ss what do you mean with "work in this field"?
Do you sell smart home gear as your job or something?

I think these blinds work as follows:
- A gateway needs to be registered to a account on which a key is generated, the gateway will refuse to control blinds connected to it without sending a Token allong with the command (token is calculated from the key). The gateway communicates with

[2022-05-17 11:53] hector2007ss commented on #24
It is only used to do some research on smart home security. As you explained, this mechanism is widely used in the field of smart home. Is there any brands of blinds that can be controlled in the LAN without user identity authentication?

[2022-05-17 12:37] starkillerOG commented on #24
@hector2007ss I did not notice any security issues with these blinds, if I had, I would have reported them to the manufacturer.

Of course you could emilate the app and then link the blinds to that, but that would require physicall acces to the pairing button, so not really a security risk.

The status of the gateway and blinds (position, battery level, RSSI etc) is broadcast on a multicast adress

[2022-05-17 12:46] hector2007ss commented on #24
Ok, thank you for your advice.

[2022-05-17 12:46] #24 closed

[2022-06-23 12:47] WilliamCrockett opened #25 "Access token error"
Hi,

Last night my CMD-01 bridge lost power and restarted. This morning I noticed I have no control of my blinds from HA, and that the bridge was flashing green, which the manual says stands for "bridge firmware update".

When I started looking at the logs, etc, I noticed that there is an error with the heading AccessToken error. I will copy the full text below.

The integration has been working f

[2022-06-24 07:44] rjulius23 commented on #25
We are facing the same issue from multiple users. Will get the firmware versions.

[2022-06-24 11:58] bocsitomcsi commented on #25
Yep the same happened in our case with HomeAssisstatn.

Firmware version: A1.0.3_B0.1.2

I have checked with python interpreter and recieved the very same issue:

[code]

With that I think something has been changed with the new firmware.

Hardware: DD 7002 B bridge

[2022-06-24 12:28] bocsitomcsi commented on #25
One more thing that maybe can help or maybe just bring more noise :D

We have two sites where we have identically the same DD 7002 B bridge with the very same firmware with the very same setup

[code]

I have used the very same version of motion blind python (0.6.4 and also tried with 0.6.8) version.

With the first bridge we have managed to gather the devices while with the second one it fails wi

[2022-06-24 12:30] PRoomberg commented on #25
This has happend to my CMD-01 bridge more than once. The only way to resolve it and get it working again is resetting the bridge and adding all blinds back. :-(
Now the bridge is plugged into an UPS.

[2022-06-24 14:09] WilliamCrockett commented on #25
Thanks. I did that thinking it would resolve the issue, but unfortunately it did not... 😕

[2022-06-28 14:57] starkillerOG commented on #25
I was on vacation, so red this only now.
I do not have any problems on my own system, but I am using a CM-20 bridge instead of the mini.

@rjulius23 Do you work for a company manufacturing smart blinds? (since you said multiple users?)

@bocsitomcsi are you sure the key is the same for both systems?

This unfortunately seems to be a firmware issue, I will discuss it with the manufacturer.

I will

[2022-06-28 15:03] EDelsman commented on #25
I checked for two cases, my own and some one else. Verified the key, verified the token. Even checked the key/token combination with the procedure from the documentation. It all checkes out, but the bridge no longer accepts it.

[2022-06-28 20:16] bocsitomcsi commented on #25
@starkillerOG I hope you had a great vacation and welcome back

The key is different but the token is the same, maybe it is device specific.

I did some further check based on this documentation: https://github.com/alexbacchin/ConnectorBridge

And what makes really hard to understand - at least for me - that I have managed to get information about the controller and even the devices type and numbe

[2022-06-29 06:52] WilliamCrockett commented on #25
Hi @starkillerOG , thanks for getting back to me here.

I have pip installed the package and attempted to run it locally and try debug the issue. So far no head way. But please let me know if there's anything I can provide you to help the debugging.

Many thanks
William

[2022-06-29 10:33] starkillerOG commented on #25
@bocsitomcsi The `m.GetDeviceList()` does not require and does not use the AccesToken, so that makes sense.
The `m.Update()` actually does not require the AccesToken, however it is sent as part of the message, this is because in some firmware version there was a change in which the AccesToken was required all of a sudden for the `m.Update()`, then in a latter firmware version they reverted that be

[2022-06-29 10:35] starkillerOG commented on #25
@bocsitomcsi what version of motionblinds are you using? the accestoken en token schould have been obscured as xxxxx in the logs for the latest motionblinds versions (security risk). In general it is not a good idea to post accestokens publicly on the internet....

[2022-06-29 10:59] starkillerOG commented on #25
I just released version 0.6.9 of the motionblinds library which add a check if the token has changed when a AccesToken error is received.

Could someone update using `pip3 install --upgrade motionblinds` and test the python script again to see if you get some `Gateway token has changed from actionResult` warning?

[2022-06-29 10:59] bocsitomcsi commented on #25
Thanks for the clarification it makes sense, then the very first moment when we need really the accesstoken is the blind.Updates() part.

I have removed the accesstoken from the above comment thanks for highlighting it. I have not realised that it has been printed out. I have reverted back to 0.6.4 version, the one that is used by HomeAssisstant 2022.4.x as well.

I have updated to 0.6.8 version a

[2022-06-29 11:02] bocsitomcsi commented on #25
@starkillerOG yes I can confirm that I see the warning message

[code]

[2022-06-29 11:08] WilliamCrockett commented on #25
@starkillerOG I am getting it too with my CMD-01

[2022-06-29 11:22] starkillerOG commented on #25
Alright that is really weared, could someone run the following python code and report all output (all warnings etc):
Note that this script will print the token of your gateway, so beware if you do not want to share that you can mask them but check very carefully if the two tokens that are printed are exactly identicall or not and tell me that.

[code]

[2022-06-29 11:27] bocsitomcsi commented on #25
[code]

[2022-06-29 11:40] starkillerOG commented on #25
Alright found one bug: the log_hide function was altering the actual response.
I just published 0.6.10, could you update again using `pip3 install --upgrade motionblinds` and run the above script again?

[2022-06-29 11:49] starkillerOG commented on #25
Thanks @WilliamCrockett that indeed confirms the token stays the same, so that is not the problem.
It really looks like some internal firmware issue where it is not accepting the AccesToken while it is correct.
Maybe somehow the internal key has changed withouth the app showing a diffrent key.

You have checked the key in the app right? that is still identical to the one you use for this python sc

[2022-06-29 11:51] starkillerOG commented on #25
We can also look if the gateway also refuses moving the blind:
Note that this will move your first blind in the list to 60%

[code]

[2022-06-29 11:53] WilliamCrockett commented on #25
@starkillerOG

yes, the key in the app is still the same and has not changed. So yes, maybe internal key has changed.

I wonder if I should try create a new account, and link the CMD-01 to that account, and re-link the blinds, and see what happens...

I have full control of the blinds through the app, and have been using the motion app to control my blinds for a few days now, the key hasn't change

[2022-06-29 11:54] WilliamCrockett commented on #25
just ran this and received same error:

[code]

[2022-06-29 12:07] NNMavy commented on #25
I just got off the phone with the manufacturer due to this very issue. They claim there is a bug in the hardware of the CMD-01 that cannot be resolved by a firmware update and they are sending me a new hub.

I read similar stories in both product reviews and tech forums and everyone who recieved a new hub say this seems to have fixed the issue.

[2022-06-29 12:21] starkillerOG commented on #25
@ConnectorGit Do you know anything more about this "hardware bug"?

[2022-06-29 13:13] PRoomberg commented on #25
Who can we contact about a replacement? And what details do they need?
Would love to get rid of the reset and reconnect bug.

[2022-06-29 14:04] WilliamCrockett commented on #25
I just paired my bridge to a whole new motion account, with a new key, and I get the same issue - AccessToken error. What I do notice, however, is that even with the new key, my 'token' is still the same as when I had it paired on the old account.

[2022-06-30 06:57] heyryan29 commented on #25
Hi William,

I'm part of the development team, it seems something went wrong with the bridge itself, could you please provide your APP account (no password required) and send 'Feedback' when your bridge is online (LED solid blue). I'd like to check the details of your hub to see what happened. It may help us figure out the root cause.

It may help to reset the bridge (long press 10 seconds) before

[2022-06-30 11:21] EDelsman commented on #25
Hi @heyryan29 ,

I have the same problems, and being the developer for the Homey app I also did quite some investigation, so I'll be glad to help too. Over the past year I did numerous resets during development, but the one I did last weekend lead to these problems. I also noticed the reset did give the red blinking, followed by pairing mode, but then was not fully reset in the sense that when pai

[2022-07-01 01:49] heyryan29 commented on #25
Hi @EDelsman ,

Thanks for sharing. Could you please provide me with your APP account, we'll check it.

Some updates here, this should not be the cause of the problem 'AccessToken error' discussed here, but I want to share some information that will cause the integration to fail.

1. After a reset, the configurations of the bridge are removed including credentials and blinds info (blinds/devices,

[2022-07-01 02:00] heyryan29 commented on #25
Hi @WilliamCrockett ,

We found some odd things, but unfortunately, some important records were overwritten, could you please unpair the bridge (it would be better if you can reset the bridge before), pair it with your APP account again, use HA to poll/control your blinds, and then 'feedback' again.

Many thanks.

[2022-07-01 07:16] WilliamCrockett commented on #25
Hi @heyryan29

I have done this now.

- I reset the bridge (it flashed red)
- deleted it from motion app
- re paired
- added a blind
- connected it to HA
- Tried to control the blind
- sent feedback

thanks
William

[2022-07-01 07:57] EDelsman commented on #25
@heyryan29: my account is a gmail account starting with sp.delsman+motion and the usual gmail things after.
The reason I mentioned the mac number behaviour is that this changed with the last firmware update, as did these problems, so there may be a relation.

Right now I'm happy to get it working at all, but I've needed to do quite a few resets/re-pair over time. Changing the macs for the blinds w

[2022-07-05 07:20] heyryan29 commented on #25
@EDelsman We now have a new firmware that improves the Wi-Fi connection performance (ver. A1.0.6_B0.1.6, not publicly released yet), I'm wondering if you'd like to have it. If yes, we can upload your bridge firmware to this new one.

It's very important to Only query the motor status when necessary, DO NOT run a scheduled task to query the motor status, like every 10 minutes or even 1 minute. It w

[2022-07-05 07:30] heyryan29 commented on #25
@WilliamCrockett Fixed a bug, now re-pairing the bridge with the same APP account can restore your HA integration control. If possible, could you share me with the HA applet link. I would like to discuss with the developer to avoid the schedule query task from HA side.

Would you like to try the new firmware ver. A1.0.6_B0.1.6  :-)

[2022-07-05 07:34] WilliamCrockett commented on #25
Hi @heyryan29

Thanks for the note. I'll be home this afternoon and will test it.

I would guess it's probably beneficial for me to have the new firmware. What does it change/fix?

I believe this repo is what is used by HA, and @starkillerOG is the developer for that. Alternatively, here's some additional links:

https://github.com/home-assistant/core/tree/dev/homeassistant/components/motion_blind

[2022-07-05 09:42] EDelsman commented on #25
@heyryan29 : I would very much like to test the new firmware. Does it also solve the accessToken problems?

In Homey I poll the blinds maybe once a day, and also if I do not get a report within a set timeframe. This is needed for several reasons:

1: multicast is implemented in a way in the bridge that it does not work if IGMP snooping is active. But IGMP snooping cannot always be turned off if IP

[2022-07-05 12:32] starkillerOG commented on #25
@heyryan29 I am the HomeAssistant developer and maintain both this library (which is the backbone of the HA integration) and the HA integration itself.
I would be more than happy to discuss with you possible improvements to the HA integration.
Can you share a e-mail adress, then I can send you my phone number?

In regards to the status querying: HomeAssistant works as a smart home platform not jus

[2022-07-10 10:26] wmollenvanger commented on #25
I'm another victim of this; didn't notice before since my system was offline for a few weeks.

For what it's worth: the EVAL tool has the same AccessToken error on a WriteDevice message. Querying works normally. My shades are Brel and their app still works for some reason. I do see the version of the app is 1.2.0 (220530001) so it was updated recently....

[2022-07-10 10:31] wmollenvanger commented on #25
how do you access the bridge to check? Mine is just an usb stick with a led and 1 button, IP address of it doesn't respond to 80 or 443....

[2022-07-13 07:43] #21 closed

[2022-07-13 08:16] starkillerOG commented on #25
@heyryan29 any updates on this?
Could you sent me your e-mail adress, would love to discuss what I could do to help from the library/homeassistant side of things.

[2022-07-13 08:23] wmollenvanger commented on #25
@starkillerOG

Thanks, can't find it in the brel app, don't think they have implemented it.

The HA integration shows
"Wi-Fi bridge
door Motion Blinds, Coulisse B.V.
Firmware: Protocol: 0.9 "

[2022-07-20 11:21] starkillerOG commented on #25
I just created a PR to implement a 1.5 second delay inbetween two update requests to different blinds during a HomeAssistant update (of all blinds). Hopefully that will make these EEPROM problems occur less often.
The PR is here: https://github.com/home-assistant/core/pull/75494

I am also in daily contact with the manufacturer and we are looking into ways of resolving these issues.

[2022-07-26 10:49] wmollenvanger commented on #25
Got a new firmware from Brel (A1.08_B0.1.8) which is not (yet) an official one you can get via updates and it works again.

[2022-07-26 11:11] starkillerOG commented on #25
@wmollenvanger good to hear it is working again for you!
Please let me know if the problem re-appears on the new firmware.

[2022-08-06 22:23] electrextech opened #26 "Invalid syntax when interacting with Python module"
My apologies in advance if this is a stupid question, I am still becoming familiar with Python, though I cannot get this module set up at all, receiving the same error every time.

Perhaps I am interacting with the file wrong? I have tried both with the command line and a .py file, both have the same result. I would really appreciate any help, thank you in advance!

[code]

[2022-08-09 09:44] EDelsman commented on #25
Is tere any news on this new firmware for Motion bridges? I and some one else still have these problems.

[2022-08-12 09:39] starkillerOG commented on #25
@EDelsman so the problem comes from limited write capabality to the EEPROM.
The new firmware does not write to EEPROM anymore if the status has not changed from what is stored in cach.
This reduces EEPROM writes a lot and helps solve these issues.

I however do not know the current status of deployment of the new firmware.
I will ask the manufacturers.

[2022-08-12 09:54] starkillerOG commented on #26
Did you try updating to the latest version of this module `pip3 install --upgrade motionblinds`?
What version of python are you running?
This is tested to work with Python 3.10.

[2022-08-12 09:56] starkillerOG commented on #26
It looks like its a python version problem.
I think this library requires at least python 3.6

[2022-08-12 13:12] starkillerOG commented on #26
@electrextech I uploaded a new version of motionblinds 0.6.12 that now is tested with python 3.6 to 3.10. Indeed on python <3.6 you would get errors.
I now also added a requirement python >=3.6 so that the motionblinds module can not be installed with lower python versions and will produce a error message indicating you need to update the python version.

Thank you for reporting this issue.
If you

[2022-08-12 13:12] #26 closed

[2022-08-30 09:50] sygys opened #28 "Error in voltage reports."
as of version 2022.8 in home assistant i have received around 10.000 log errors stating the following:

![Schermafbeelding 2022-08-30 114946](https://user-images.githubusercontent.com/73538763/187406585-a5f3cfcd-44d1-404e-b872-5cfa4cebed81.png)

I guess a typo in the code?

[2022-09-22 18:23] taugusti opened #29 "Top down / bottom up - Brell gateway"
Thanks for providing this integration.

I have an issue with the integration or brel gateway on my top-down / bottom-up curtains. They have two motors and the top and bottom motors show up as separate entities in home asssistant (top, bottom and combined).

Cover open and close works fine - but when I try to set the position (set position) it only works with the bottom motor.
The same goes for the

[2022-09-22 20:46] starkillerOG commented on #28
@sygys sorry for taking so long.
I have solved the issue in the latest version of motionblinds which is already included in the HomeAssistant main git.
So the next release of HomeAssistant 2022.10 will have this fixed (the log level has been reduced to debug).

If you appreciate the motion blinds integration, please consider sponsoring this library: https://github.com/sponsors/starkillerOG

I will

[2022-09-22 20:46] #28 closed

[2022-09-22 20:53] starkillerOG commented on #29
@taugusti did you try the user interface of the top motor?
Does the combined entity work through the user interface?

Do you see any errors in the homeassistant log about the motion blinds integration, specifically about the postion not beeing allowed (due to collision of the top en bottom bar)?

Note that since the top motor can not go below the bottom motor there are absolute positions that are

[2022-09-22 20:54] starkillerOG commented on #29
If you appreciate the motion blinds integration, please consider sponsoring this library: https://github.com/sponsors/starkillerOG

[2022-09-24 07:26] taugusti commented on #29
Hi @starkillerOG
Thanks for fast reply

1. Does it work through the UI?
Partially... I can pull the slider for the top motor and it (sometimes) starts to move. but it does not stop at the position I request and sometimes it just refuses to move at all. if the motor is in motion, (also if I use the up/down bottons), I am unable to stop the motion using the stop button.
The log shows: "Send status t

[2022-09-29 16:14] starkillerOG commented on #29
@taugusti alright so the problem seems to be that the TDBU is not including the position of the motors in its status updates. For TDBU's this is a real problem since we need to know the current positions to determine if a new position is allowed or not.

How does the brel app work?
Does it acurately provide the position of the TDBU?
Can you move both TDBU motors in the brel app and can you see the

[2022-10-01 08:25] taugusti commented on #29
@starkillerOG
**Brel app**
Only one of 4 blinds report their position in the app.
I can set the position of the other 3 blinds - both top and bottom - bot their position is not reported in the app.
I will contact brel with this issue - perhaps fixing it will help on the hass integration as well.

**combined entity**
It seems to work - great!
It took me a little while to realize that the absolute p

[2022-11-17 19:58] taugusti commented on #29
Hi @starkillerOG
Finally got the cae solved.
Not much feedback from Brell - but by accident I moved the gateway a little bit - and one of the blinds stopped responding!
So... I realized that the gateway was too far from the curtains. When I moved it closer, it worked again.
AND the position feedback suddenly worked also.
Conclusion: nothing wrong anywhere and the advice for future users - be caref

[2022-11-17 19:58] #29 closed

[2022-11-20 21:53] ShadowShadow42 opened #30 "request"
Hi starkillerOG,
I have a question for you but don't know how I can best contact you. I've send an email to starkiller.og@gmail dot com, but don't know if that email adress works at all. Can you please reply.

Many thanks,
Rein

[2022-11-21 07:55] starkillerOG commented on #30
Hi Rein,

I send you a reply by mail.
Normally I do not read starkiller.og@gmail.com but do get messages from github.

Best regards,
StarkillerOG

[2022-11-25 11:02] #30 closed

[2022-11-25 11:04] starkillerOG commented on #29
@taugusti thank you for reporting back!
I will keep the range in mind for future issues of users!